
/*VARIABLES*/
$headline-font-stack: 'BebasNeue',sans-serif;
$alt-headline: 'Oswald', sans-serif;
$para-font: "Fira Sans",sans-serif;
$green: #99CC02;
$light: #fff;
$grey: #666;
$dark-grey: #2D2D2D;
$dark:#000;